body {
    background: rgb(34,33,83);
    background-color: #090f1e;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: sans-serif;
    color: white;
}

.container {
    text-align: center;
}

.inner-container {
    background: rgb(34,33,83);
    background: #090f1e;
    padding: 20px;
    margin-top: 20px;
    min-height: 150px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.number-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.arrow-button {
    background-color: #785bf7;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    margin: 0 10px;
}

.number-display {
    font-size: 20px;
    padding: 0 15px;
}

.signal-button {
    background-color: #785bf7;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
}

.signal-button:hover {
    background-color: #785bf7;
}

.signal-container {
    margin-top: 0px;
    text-align: center;
}

.signal-container img {
    width: 105px; /* Установите фиксированную ширину */
    height: auto; /* Сохраняет соотношение сторон */
    border-radius: 11px;
    opacity: 1;
    transition: opacity 0.5s ease, transform 0.5s ease, box-shadow 0.5s ease;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

.fade-out {
    opacity: 0;
    transform: scale(0.8);
}

.fade-in {
    opacity: 0;
    transform: scale(0.8);
    animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}


.image-container {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 10px;
}

.round-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 5px;
    object-fit: cover;
    transition: transform 0.2s, box-shadow 0.2s; 
    box-shadow: 0 4px 8px rgba(29, 64, 133, 0.2);
}

.round-image:active {
    transform: scale(0.9);
    box-shadow: 0 2px 4px rgba(9, 144, 206, 0.2);
}


.logo {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100px;
    height: auto;
    z-index: 1000;
}

.fade-in {
    opacity: 0;
    animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-out {
    opacity: 1;
    animation: fadeOut 0.5s forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}


.message-fade-in {
    opacity: 0;
    animation: messageFadeIn 0.5s forwards;
    margin-top: -20px;
}

@keyframes messageFadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.round-container {
    position: relative;
    width: 300px;
    height: 300px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes spinLeftRight {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-10deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.wheel-image {
    width: 113%;
    height: auto;
    animation: spinLeftRight 6s ease-in-out infinite;
}

.wheel-image::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(252, 252, 248, 0.7),
                0 0 40px rgba(255, 255, 255, 0.5);
    pointer-events: none;
    z-index: -1;
}

.signal-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.message-container {
    position: absolute;
    top: 150px;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
    left: 50%;
    transform: translateX(-50%);
    color: #785bf7; /* Цвет кнопки */
    text-align: center;
    z-index: 10;
}


.anime {
    position: absolute;
    width: 50px;
    left: 20%;
}

.anime2 {
    position: absolute;
    width: 60px;
    left: 70%;
}

.fade-out {
    opacity: 0; /* Прозрачность */
    transition: opacity 2s ease; /* Переход для прозрачности */
}